*{
    margin:0;
    box-sizing: border-box;
}

.header-part{
    width:100%;
    background-color:hsl(0deg 0% 100%); 
    height:100px;
    line-height: 100px;
    padding-left:20px;
    display: inline-block;
    vertical-align: middle;
}

.header-part img, .title{
    vertical-align: middle;
    display: inline-block;
}

.principale{
    width: 100%;
    height:600px;
    background-color: hsl(200deg 20% 97%);
}
.box, .navig{
    width:80%;
    padding:10px 30px 10px 30px;
    background-color:yellow; 
    margin:auto;
    border: 1px solid black;
}


button{
    border:1px solid hsl(200deg 20% 97%);
    border-radius:5px;
    background-color: hsl(0deg 0% 100%); 
}